<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      
      <!--****AGENCIA***-->
      <!--
          <add name="Concesionaria.Properties.Settings.CONCESIONARIAConnectionString"
            connectionString="Data Source=DESKTOP-4I4D3O9\SQLEXPRESS;Initial Catalog=CHACO;Integrated Security=True"
            providerName="System.Data.SqlClient" /> 
          --> 
      <!--CASA-->
         
          <add name="Concesionaria.Properties.Settings.CONCESIONARIAConnectionString"
            connectionString="Data Source=DESKTOP-QKECIIE;Initial Catalog=CHACO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      
      <!--MARTIN-->
      <!--   <add name="Concesionaria.Properties.Settings.CONCESIONARIAConnectionString"
      connectionString="Data Source=MARTIN\\SQLEXPRESSMARTIN;Initial Catalog=MARTINAUTOMOTORES;Integrated Security=True"
      providerName="System.Data.SqlClient" /> -->
      <!--    <add name="Concesionaria.Properties.Settings.CONCESIONARIAConnectionString"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=COPIACONCESIONARIA;Integrated Security=True"
            providerName="System.Data.SqlClient" /> -->
    </connectionStrings>
</configuration>